# Keil MDK-ARM Project

# Build Output Directories
list/
out/
Objects/
Listings/

# Keil Build Outputs
# Compiled Binaries

# Keil Project User Settings
*.uvgui.*
*.uvopt
*.uvguix.*
*.uvoptx
*_uvoptx.bak
*_uvguix.bak
